.grid {
  display: grid;
  row-gap: 3rem;
}

.hero__nav {
  margin-bottom: 5rem;
}
.hero__image {
  justify-self: center;
}
.hero__text {
  text-align: center;
}

.hero__feature {
  margin-bottom: 2.5rem;
}

.hero__text h1 {
  margin-bottom: 1.6rem;
}

.hero__text p {
  font-size: 1.1;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 1.3rem;
}

.hero__link {
  font-size: 1.1;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 1.3rem;
  color: var(--light-grey);
}

.hero__link a {
  color: var(--light-grey);
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: capitalize;
  text-decoration: underline;
}

.hero__link::after {
  content: url("/assets/icon-source.svg");
  margin-left: 0.5rem;
  vertical-align: middle;
}

/* PLANET IMG */
.planetImg {
  width: 100%;
}

/* SURFACE PAGE */
.surfaceImg {
  position: relative;
}

.surfaceImg_small {
  position: absolute;
  max-width: 168px;
  top: 80%;
  left: 35%;
  /* transform: translateX(-50%); */
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .grid_tablet {
    column-gap: 6.8rem;
    margin-top: 9rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "earth earth"
      "text nav"
      "feature feature";
  }

  .hero__nav {
    grid-area: nav;
    margin: 0;
    align-self: end;
  }

  .hero__image {
    grid-area: earth;

    margin-bottom: 8.5rem;
  }

  .hero__feature {
    grid-area: feature;
    display: flex;
    align-items: center;
    gap: 1.1rem;
    margin-top: 0.7rem;
  }

  .hero__text {
    grid-area: text;
    text-align: left;
  }

  .hero__text h1 {
    margin-bottom: 2.4rem;
  }
}

@media (min-width: 1024px) {
  .grid_tablet {
    row-gap: 4rem;
    column-gap: 24rem;
    margin-top: 11rem;
    grid-template-areas:
      "earth text"
      "earth nav"
      "feature feature";
  }

  .hero__image {
    margin-bottom: 0;
    align-self: center;
    justify-self: right;
  }

  .hero__feature {
    gap: 3rem;
  }
}
