.feature {
  border: 1px solid var(--light-grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin-bottom: 0.8rem;
}

.feature__text {
  font-size: 0.8rem;
  line-height: 16px;
  letter-spacing: 0.73px;
  font-weight: bold;
  color: var(--light-grey);
}

.feature__value {
  font-size: 2rem;
  letter-spacing: -0.75px;
}

@media (min-width: 768px) {
  .feature {
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-bottom: 0;
    gap: 1.1rem;
  }

  .feature__text {
    font-size: 0.95rem;
  }

  .feature__value {
    font-size: 2.4rem;
    letter-spacing: -0.9px;
  }
}

@media (min-width: 1024px) {
  .feature__text {
    font-size: 1.1rem;
  }

  .feature__value {
    font-size: 4rem;
    letter-spacing: -1.5px;
  }
}
